<ion-modal-view view-title="Servis Ekle">
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear button-assertive ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>
  <ion-content>
    

    <div style="margin-top: 10%" class="center list list-inset">
      <h3> {{editFg==0 ? diller[36].kelime : editFg==1 ? diller[70].kelime : ''}} </h3>
      

        <button class="button button-clear button-light" ng-click="editLang('EN')">              
          <img  style="opacity: {{icerikLang=='EN' ? 1 : 0.2 }};"  class=" full-image l1"src="img/login/bb.png"></button>
        <button class="button button-clear button--light" ng-click="editLang('DE')">
          <img style="opacity: {{icerikLang=='DE' ? 1 : 0.2 }};"class="full-image l2"src="img/login/aa.png"></button>
        <button class="button button-clear button-light" ng-click="editLang('TR')">
          <img style="opacity: {{icerikLang=='TR' ? 1 : 0.2 }};"class="full-image l3"src="img/login/tt.png"></button>
          
      <center>
        
        <label class="ekle_input item item-input card_width add_card" >
          <i class="ion-images images_icon" ng-if="editFg==0"></i>
          <button class="button button-clear button-positive" ng-click="changePP()"> <input class="ekle_input item-input" type="text"></button>
          <img src = "{{inputField.img}}" class="images_card add_imgc">
        </label>


        <label class="ekle_input item item-input card_width add_scard ">
          <textarea type="text" placeholder="{{editFg==0 ? 'Eğitim Adı' : ''}}" ng-model="inputField.head"> {{inputField.head}}</textarea>
        </label>
        
        
        <label class="ekle_input item item-input card_width" style="height: 106px;">
          <textarea type="text" class="scroll_structure add_text" style="width: 150%;"placeholder="{{editFg==0 ? '0/255 Açıklama' : ''}}" ng-model="inputField.desc">{{inputField.desc}}</textarea>
        </label>

        <label class="ekle_input item item-input card_width add_scard">
          <textarea type="text" placeholder="{{editFg==0 ? 'Eğitim Süresi' : ''}}" ng-model="inputField.hour">{{inputField.hour}}</textarea>
        </label>


        <label class="ekle_input item item-input card_width add_scard">
          <textarea type="text" placeholder="{{editFg==0 ? 'Eğitim Konumu' : ''}}" ng-model="inputField.address">{{inputField.address}}</textarea>
        </label>

        <label class="ekle_input item item-input card_width add_scard" >
          <textarea type="text" placeholder="{{editFg==0 ? 'Eğitim Başlangıç Tarihi' : ''}}" ng-model="inputField.bgdate">{{inputField.bgdate}}</textarea>
        </label>

        <label class="ekle_input item item-input card_width add_scard">
          <textarea type="text" placeholder="{{editFg==0 ? 'Eğitim Bitiş Tarihi' : ''}}" ng-model="inputField.enddate">{{inputField.enddate}}</textarea>
        </label>


      </center>




      <div class="center"style="margin-top: 2%;">
        <button class="button button-assertive add_button" ng-click="applyButton('courses','{{editFg==0 ? 'ekle' : editFg==1 ? 'guncelle' : ''}}')">
      <h3 style=" color: white;font-family: monospace;">{{editFg==0 ? diller[23].kelime : editFg==1 ? diller[43].kelime : ''}}</h3>
        </button>
      </div>
      <br>

      <div class="center" style="margin-top: 1%;" ng-if="editFg==1" ng-click="applyButton('courses','sil')">
        <button class="button button-assertive add_button">
          <h3 style=" color: white;font-family: monospace;">{{diller[44].kelime}}</h3>
        </button>
      </div>


</div>
</ion-content>

</ion-modal-view>