<ion-modal-view view-title="Servis Ekle">
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear button-assertive ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>



  <ion-content>

    <div style="margin-top: 10%" class="center list list-inset">
      <h3>{{editFg==0 ? diller[45].kelime : editFg==1 ? diller[66].kelime : ''}}</h3>

      <center>
        <label class="ekle_input item item-input" style="width: 89%;height: 143px; border-radius:10px !important;">
          <button class="button button-clear button-assertive"> <input class="ekle_input item-input" type="file"></button>
          <input type="text" placeholder="{{diller[29].kelime}}" style="margin-top:-42px;margin-left: -56%;font-size: 120%;">
        </label>

        <label class="ekle_input item item-input" style="width: 89%;height: 51px; border-radius: 10px !important;margin-top: 4%;">
          <textarea type="text" placeholder="{{diller[30].kelime}}" ng-model="inputField.head" ></textarea>
        </label>



  
        <label class="ekle_input item item-input" style="width: 89%;height: 106px; border-radius:10px !important;margin-top: 4%;">
          <textarea type="text" placeholder="{{diller[27].kelime}}" style="margin-top:-28px;" ng-model="inputField.desc" ></textarea>
        </label>
      </center>



  <div class="center"style="margin-top: 20%;">
    <button class="button button-assertive add_button " ng-click="applyButton('stories','{{editFg==0 ? 'ekle' : editFg==1 ? 'guncelle' : ''}}')">
      <h3 style=" color: white;font-family: monospace;">{{editFg==0 ? diller[23].kelime : editFg==1 ? diller[43].kelime : ''}}</h3>
    </button>
  </div>
  <br>
  <div class="center" style="margin-top: 1%;" ng-if="editFg==1" ng-click="applyButton('stories','sil')">
    <button class="button button-assertive add_button">
      <h3 style=" color: white;font-family: monospace;">{{diller[44].kelime}}</h3>
    </button>
  </div>

</div>

</ion-content>

</ion-modal-view>