<ion-modal-view view-title="Servis Ekle">
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear button-assertive ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>
  <ion-content>
    

    <div style="margin-top: 10%" class="center list list-inset">
      <h3> {{editFg==0 ? diller[36].kelime : editFg==1 ? diller[70].kelime : ''}} </h3>
      

        <button class="button button-clear button-light" ng-click="editLang('EN')">              
          <img  style="opacity: {{icerikLang=='EN' ? 1 : 0.2 }};"  class=" full-image l1"src="img/login/bb.png"></button>
        <button class="button button-clear button--light" ng-click="editLang('DE')">
          <img style="opacity: {{icerikLang=='DE' ? 1 : 0.2 }};"class="full-image l2"src="img/login/aa.png"></button>
        <button class="button button-clear button-light" ng-click="editLang('TR')">
          <img style="opacity: {{icerikLang=='TR' ? 1 : 0.2 }};"class="full-image l3"src="img/login/tt.png"></button>
          
      <center>
        <label class="ekle_input item item-input" style="width: 89%;height: 143px; border-radius:10px !important;">
          <button class="button button-clear button-positive"> <input class="ekle_input item-input" type="button"></button>
          <textarea type="text" placeholder="Resmi" style="margin-top:-42px;margin-left: -6%;font-size: 120%;"></textarea>
        </label>

        <label class="ekle_input item item-input" style="width: 89%;height: 51px; border-radius: 10px !important;margin-top: 4%;">
          <textarea type="text" placeholder="{{editFg==0 ? 'Eğitim Adı' : ''}}" ng-model="inputField.head"> {{inputField.head}}</textarea>
        </label>
        
        
        <label class="ekle_input item item-input" style="width: 89%;height: 106px; border-radius:10px !important;margin-top: 4%;">
          <textarea type="text" class="scroll_structure" placeholder="{{editFg==0 ? '0/255 Açıklama' : ''}}" ng-model="inputField.desc" style="margin-top:-28px;">{{inputField.desc}}</textarea>
        </label>

        <label class="ekle_input item item-input" style="width: 89%;height: 51px; border-radius: 10px !important;margin-top: 4%;">
          <textarea type="text" placeholder="{{editFg==0 ? 'Eğitim Süresi' : ''}}" ng-model="inputField.hour">{{inputField.hour}}</textarea>
        </label>


        <label class="ekle_input item item-input" style="width: 89%;height: 51px; border-radius: 10px !important;margin-top: 4%;">
          <textarea type="text" placeholder="{{editFg==0 ? 'Eğitim Konumu' : ''}}" ng-model="inputField.address">{{inputField.address}}</textarea>
        </label>

        <label class="ekle_input item item-input" style="width: 89%;height: 51px; border-radius: 10px !important;margin-top: 4%;">
          <textarea type="text" placeholder="{{editFg==0 ? 'Eğitim Başlangıç Tarihi' : ''}}" ng-model="inputField.bgdate">{{inputField.bgdate}}</textarea>
        </label>

        <label class="ekle_input item item-input" style="width: 89%;height: 51px; border-radius: 10px !important;margin-top: 4%;">
          <textarea type="text" placeholder="{{editFg==0 ? 'Eğitim Bitiş Tarihi' : ''}}" ng-model="inputField.enddate">{{inputField.enddate}}</textarea>
        </label>


      </center>




      <div class="center"style="margin-top: 2%;">
        <button class="button button-assertive add_button" ng-click="applyButton('team','guncelle')">
      <h3 style=" color: white;font-family: monospace;">{{editFg==0 ? diller[23].kelime : editFg==1 ? diller[43].kelime : ''}}</h3>
        </button>
      </div>
      <br>

      <div class="center" style="margin-top: 1%;" ng-if="editFg==1" ng-click="applyButton('team','sil')">
        <button class="button button-assertive add_button">
          <h3 style=" color: white;font-family: monospace;">{{diller[44].kelime}}</h3>
        </button>
      </div>


</div>
</ion-content>

</ion-modal-view>