<ion-modal-view view-title="Servis Ekle">
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear button-assertive ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>


  <ion-content>


    <div style="margin-top: 10%" class="center list list-inset">
      <h3>{{editFg==0 ? diller[31].kelime : editFg==1 ? diller[69].kelime : ''}}</h3>

        <button class="button button-clear button-light" ng-click="editLang('EN')">              
          <img  style="opacity: {{icerikLang=='EN' ? 1 : 0.2 }};"  class=" full-image l1"src="img/login/bb.png"></button>
        <button class="button button-clear button--light" ng-click="editLang('DE')">
          <img style="opacity: {{icerikLang=='DE' ? 1 : 0.2 }};"class="full-image l2"src="img/login/aa.png"></button>
        <button class="button button-clear button-light" ng-click="editLang('TR')">
          <img style="opacity: {{icerikLang=='TR' ? 1 : 0.2 }};"class="full-image l3"src="img/login/tt.png"></button>
     <center> <label class="ekle_input item item-input" style="width: 89%;height: 51px;
      border-radius: 10px !important;margin-top:8%;">
      <textarea type="text" placeholder="{{diller[32].kelime}}" ng-model="inputField.name" ></textarea>
    </label>
    <label class="ekle_input item item-input" style="width: 89%;height: 51px;
    border-radius: 10px !important;margin-top: 4%;">
    <textarea type="text" placeholder="{{diller[33].kelime}}" ng-model="inputField.position"></textarea>
  </label>


  <label class="ekle_input item item-input card_width add_scard" style=" height: 106px;">
  <textarea type="text" class="scroll_structure" placeholder="{{diller[27].kelime}}" ng-model="inputField.desc" style="margin-top:-28px;margin-left: -7%;width: 150%;"></textarea>
</label>

<label class="ekle_input item item-input card_width add_scard" >
<textarea type="text" placeholder="{{diller[34].kelime}}" ng-model="inputField.link"></textarea>
</label>

<label class="ekle_input item item-input card_width add_card" >
   <i class="ion-images images_icon"></i>
<button class="button button-clear button-assertive"> <input class="ekle_input item-input" type="text" ></button>
<textarea style="color: white;"type="text" placeholder="{{diller[35].kelime}}" ></textarea>
</label>



</center>



<div class="center"style="margin-top: 4%;">
  <button class="button button-assertive add_button" ng-click="applyButton('team','{{editFg==0 ? 'ekle' : editFg==1 ? 'guncelle' : ''}}')">
    <h3 style=" color: white;font-family: monospace;">{{editFg==0 ? diller[23].kelime : editFg==1 ? diller[43].kelime : ''}}</h3>
  </button></div>
</div>

<div class="center" style="margin-top: 1%;" ng-if="editFg==1" ng-click="applyButton('team','sil')">
  <button class="button button-assertive add_button">
    <h3 style=" color: white;font-family: monospace;">{{diller[44].kelime}}</h3>
  </button></div>
</div>

</ion-content>

</ion-modal-view>