<ion-modal-view view-title="Servis Ekle">
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear button-assertive ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>


  <ion-content>

    <div style="margin-top: 10%" class="center list list-inset">
      <h3>{{editFg==0 ? diller[40].kelime : editFg==1 ? diller[71].kelime : ''}}</h3>
      

      <center>

        <label class="ekle_input item item-input card_width add_scard">
         <textarea type="text" placeholder="Kelime Adı" ></textarea>
        </label>

        <label class="ekle_input item item-input card_width" style="height: 106px;">
         <textarea type="text" class="scroll_structure add_text" placeholder="0/255 Açıklama"></textarea>
        </label>
      </center>



      <div class="center" style="margin-top: 49%;">
       <button class="button button-assertive add_button">
       <h3 style=" color: white;font-family: monospace;">{{editFg==0 ? diller[23].kelime : editFg==1 ? diller[43].kelime : ''}}</h3>
       </button>
       </div>
      </div>
  
      <div class="center" style="margin-top: 1%;" ng-if="editFg==1" ng-click="applyButton('team','sil')">
       <button class="button button-assertive add_button">
       <h3 style=" color: white;font-family: monospace;">{{diller[44].kelime}}</h3>
       </button>
       </div>
     </div>

</ion-content>

</ion-modal-view>