<ion-modal-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>

  <!-- İlgili sayfanın ID'sini yakalamak için -->
  {{editInput.itemID = egitim[itemId].ID}}
  
  <ion-content>

    <a href="#/tab/courses">
      <div>
        <img class="courses-story_img" ng-src="{{editInput.img = egitimler[itemId].CRS_PHOTO}}">
      </div>
    </a>
    <h3 style="margin-left: 3%;">{{editInput.head = egitimler[itemId].CRS_NAME}}</h3>
    
    <div  class="ion-compose edit_icon edit-detail_icon" ng-if="isAdmin==1" ng-click="editgosterici('editCourse',1)"></div>

    <br>

    <p align="left" class="courses-story_text " >{{editInput.desc = egitimler[itemId].CRS_DESCRIPTION}}</p>

    <ion-icon name="time-outline"></ion-icon>

    <br>


    <h2 style="font-size: 23px;margin-left: 4%;" class="ion-ios-time-outline y">
      <font style="font-size: 19px;"> {{editInput.hour = egitimler[itemId].CRS_HOUR}} {{diller[11].kelime}}</font>
    </h2>
    <br>
    <h4 style="font-size: 29px;margin-left: 4%;" class="ion-ios-location-outline y">
      <font style="font-size: 19px;">{{editInput.address = egitimler[itemId].CRS_ADRESS}}</font>
    </h4>
    <br>
    <h4 style="font-size: 24px;margin-left: 4%;" class="ion-calendar y">
      <font style="font-size: 19px;">{{editInput.bgdate = egitimler[itemId].CRS_BEGINDATE}} -
      {{editInput.enddate = egitimler[itemId].CRS_ENDDATE}} </font>
    </h4>
    <br><br>

    <center>
      <div>
        <button ng-click="applyButton('courses','dersEkleSil')" class="button {{aktifMi==true ? 'button-dark': aktifMi==false ? 'button-assertive': '' }}  pre-application_button">{{aktifMi==true ? diller[75].kelime: aktifMi==false ? diller[10].kelime: '' }}</button>
      </div>

   </center>
 </ion-content>
</ion-modal-view>