
<ion-view>




  <ion-content>

    <br>

    <center><img style="    width: 42%;
    " src="img/logo.PNG" /></center>

    <!-- Kullanıcı Giriş Form Yapısı -->
  <center>
    <form ng-submit="doLogin()" ng-if="!kayittab || kayittab==0">
      <br><br>
      <div class="list center" style="padding:1px;">

        <br><br>

        <label class="item item-input kd">
          <i class="ion-ios-email-outline" style="margin-right: 1%;font-size: 124%;"></i>
          <input type="text" style="font-size:103%;margin-left: 3%;margin-top: 0%;" placeholder="{{diller[15].kelime}}"
            ng-model="loginData.email">
        </label>

        <br><br>

        <label class="item item-input kd">
          <i class="ion-ios-unlocked-outline" style="margin-right: 10%;font-size: 124%;"></i>
          <input type="password" style="font-size:103%;margin-left: -5%;margin-top: 0%;"
            placeholder="{{diller[13].kelime}}" ng-model="loginData.password">
        </label>

        <br><br>

        <button ng-disabled="!loginData.email || !loginData.password" class="button button-dark beton2"
          type="submit">{{diller[16].kelime}}</button>

        <br><br>

        <button class="button button-dark beton1" type="button" ng-click="kayitButon(1)">
          <p class="dil"> {{diller[20].kelime}}</p>
        </button>
        <br><br>
        <button class="button button-block button-light" type="button" ng-click="kayitButon(2)">
          <a class="y">{{diller[22].kelime}}</a>
        </button>

      </div>
    </form>
  </center>
    
    <!-- Kullanıcı Kayıt Form Yapısı -->

        <!-- Kullanıcı Kayıt Form Yapısı -->
  <center>
    <form ng-submit="registerUser()" ng-if="kayittab==1" novalidate>

      <div class="form-fields-outer list list-inset" style="padding:10px;">

        <!-- Ad Soyad -->
        <div class="form_group">
          <label class="item item-input kd" ng-class="{ 'has_error' : kayitData.name.$invalid && !kayitData.name.$pristine }">
            <i class="ion-ios-person-outline" style="margin-right: 1%;font-size: 124%;"></i>
            <br><br><br>
            <input type="text" style="font-size:103%;margin-top: -1%; margin-left: 5%;" placeholder="{{diller[14].kelime}}"
               ng-model="kayitData.name" class="form_control" required>
          </label>
           <p ng-show="kayitData.name.$invalid && !kayitData.name.$pristine" class="help-block">{{diller[46].kelime}}</p>
        </div>

       <br>

        <!-- Telefon -->
        <div class="form_group">
          <label class="item item-input kd"
            ng-class="{ 'has_error' : (kayit_form.phone.$invalid && !kayit_form.phone.$pristine)}">
            <i class="ion-ios-telephone-outline" style="margin-right: 1%;font-size: 124%;"></i>

            <input type="tel" style="font-size:103%;margin-top: -1%; margin-left: 5%;" ng-model="kayitData.number"
              name="phone" placeholder="498887776655" class="form_control" ng-pattern="/^[0-9]+$/" required>
          </label>
          <p ng-show="kayit_form.phone.$invalid && !kayit_form.phone.$pristine && !kayit_form.phone.$error.validPhone && !kayit_form.phone.$error.pattern"
            class="help-block">{{diller[47].kelime}}</p>
          <p ng-show="kayit_form.phone.$error.validPhone && !kayit_form.phone.$error.pattern" class="help-block">{{diller[48].kelime}}</p>
          <p ng-show="kayit_form.phone.$error.pattern" class="help-block">{{diller[49].kelime}}</p>
        </div>

        <br>

        <!-- Email -->
        <div class="form_group">
          <label class="item item-input kd"
            ng-class="{ 'has_error' : kayit_form.email.$invalid && !kayit_form.email.$pristine }">
            <i class="ion-ios-email-outline" style="margin-right: 1%;font-size: 124%;"></i>

            <input type="email" style="font-size:103%;margin-top: -1%; margin-left: 5%;" placeholder="{{diller[15].kelime}}"
              name="email" ng-model="kayitData.email" class="form_control" required>
          </label>
          <p ng-show="!kayit_form.email.$pristine && kayit_form.email.$invalid" class="help-block">{{diller[50].kelime}}
          </p>
        </div>
        
        <br>

        <!-- Password (+ confirm password) -->
        <div class="form_group">
          <label class="item item-input kd"
            ng-class="{ 'has_error' : kayit_form.password.$invalid && !kayit_form.password.$pristine }">
            <i class="ion-ios-unlocked-outline" style="margin-right: 1%;font-size: 124%;"></i>

            <input type="password" style="font-size:103%;margin-top: -1%; margin-left: 5%;" placeholder="{{diller[13].kelime}}"
              name="password" ng-model="kayitData.password" ng-minlength="5"
              ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
          </label>
          <p ng-show="!kayit_form.password.$pristine && kayit_form.password.$invalid && !kayit_form.password.$error.minlength && !kayit_form.password.$error.pattern"
            class="help-block">{{diller[51].kelime}}</p>
          <p ng-show="kayit_form.password.$error.minlength" class="help-block">{{diller[52].kelime}}</p>
          <p ng-show="kayit_form.password.$error.pattern && !kayit_form.password.$error.minlength" class="help-block">
            {{diller[53].kelime}}</p>
        </div>

        <br>

        <div class="form_group">
          <label class="item item-input kd"
            ng-class="{ 'has_error' : (kayit_form.passwordChck.$invalid && !kayit_form.passwordChck.$pristine) || match_password }">
            <i class="ion-ios-unlocked-outline" style="margin-right: 1%;font-size: 124%;"></i>

            <input type="password" style="font-size:103%;margin-top: -1%; margin-left: 5%;"
              placeholder="{{diller[17].kelime}}" name="passwordChck" ng-model-options="{ debounce: 500 }"
              ng-model="kayitData.passwordChck" confirm-password="kayitData.password" required>
          </label>
          <p ng-show="kayit_form.passwordChck.$invalid && !kayit_form.passwordChck.$pristine && !kayit_form.passwordChck.$error.password_Chck"
            class="help-block">{{diller[54].kelime}}</p>
          <p ng-show="kayit_form.passwordChck.$error.password_Chck" class="help-block">{{diller[55].kelime}}</p>
        </div>
        <br>

        <!-- Submit Butonu -->
        <button class="button button-dark beton2" style="margin-left: -1%;" ng-disabled="kayit_form.$invalid" type="submit">
          {{diller[20].kelime}}
        </button>

        <br>
        <br>
        
        <!-- Giriş Yap'a dönüş -->
        <button style="margin-left: -1%;" class="button button-dark beton1" type="button" ng-click="kayitButon(0)">
         <p class="dil">{{diller[16].kelime}}</p>
        </button>

        <br>

      </div>
    </form>
  </center>

    <!-- Şifremi Unuttum Form Yapısı -->

    <form ng-submit="paswordRes()" ng-if="kayittab==2">
      <br><br>
      <center>
        <h4> {{diller[56].kelime}} </h4>
      </center>
      <br>
      <div class="list center" style="padding:1px;">
        <br><br>
        <label class="item item-input kd">
          <i class="ion-ios-email-outline" style="margin-right: 1%;font-size: 124%;"></i>
          <input type="text" style="font-size:103%;margin-left: 3%;margin-top: 0%;" placeholder="{{diller[15].kelime}}"
            ng-model="resetPass.email">
        </label>
        <br><br>
        <button ng-disabled="!resetPass.email" class="button button-dark beton2" type="submit">{{diller[57].kelime}}
        </button>
        <br><br>
        <button class="button button-block button-light" type="button" ng-click="kayitButon(0)">
          <a class="y">{{diller[58].kelime}}</a>
        </button>

      </div>
    </form>


    <center>
      <button class="button button-clear button-light" ng-click="tiklabayrak('EN')">              



        <img  style="opacity: {{language=='EN' ? 1 : 0.2 }};"  class=" full-image l1"src="img/login/bb.png"></button>

      <button class="button button-clear button--light" ng-click="tiklabayrak('DE')">
        <img style="opacity: {{language=='DE' ? 1 : 0.2 }};"class="full-image l2"src="img/login/aa.png"></button>

      <button class="button button-clear button-light" ng-click="tiklabayrak('TR')">
        <img style="opacity: {{language=='TR' ? 1 : 0.2 }};"class="full-image l3"src="img/login/tt.png"></button>
    </center>

 



  </ion-content>
</ion-view>