<ion-modal-view>
	<ion-header-bar>
		<button class="button button-clear button-dark ion-chevron-left" ng-click="modal.hide()"></button>
	</ion-header-bar>

	<ion-content class="padding">

		<!-- Sms Body -->
			
		<form name="input" ng-submit="smsOnay()">
			<center>
				<i style="font-size: 133px;"class="ion-android-textsms"></i>



				<div class="col col-100">
					<label style="font-size: 23px;color: #616161;">{{diller[59].kelime}}</label>
				</div>

                <div class="row" style="margin-top: 8%;margin-left: 2%;">
                 <input class="col sms sms_text" type="text" tabindex="1" size="1" maxlength="1" style="font-size: 184%;" ng-model="smsVerify.kod1" ><div style="margin-left: 4%;"></div></input>

                 <input class="col sms sms_text" type="text" tabindex="2" size="1" maxlength="1"  style="font-size: 184%;" ng-model="smsVerify.kod2"><div style="margin-left: 4%;"></div></input>

                 <input class="col sms sms_text" type="text" tabindex="3" size="1" maxlength="1" style="font-size: 184%;"ng-model="smsVerify.kod3"><div style="margin-left: 4%;"></div></input>

                 <input class="col sms sms_text" type="text" tabindex="4" size="1" maxlength="1" style="font-size: 184%;" ng-model="smsVerify.kod4"><div style="margin-left: 4%;"></div></input>

                </div>
				
				<button style="margin-top: 14%"class="button  sms_button" ng-hide="!smsVerify.kod1 || !smsVerify.kod2 || !smsVerify.kod3 || !smsVerify.kod4" type="submit">{{diller[60].kelime}}
				</button>
			</center>
		</form>


	</ion-content>
</ion-modal-view>
