<ion-modal-view view-title='<img class="title-image" src="img/logo.PNG"/ >'>
  <ion-header-bar class="bar-light">
    <ion-header-buttons>
      <button class="button button-clear ion-close" ng-click="modal.hide()"></button>
    </ion-header-buttons>
  </ion-header-bar>
  {{editInput.itemID = hikayeler[itemId].ID}}
  <ion-content>


    <h4 align="center">{{diller[0].kelime}}</h4>

    <!--Hikaye Ekleme Butonu-->

    <div class="center" ng-if="isAdmin==1" ng-click="editgosterici('editStory',0)">
      <button class="button button-assertive add_button ">
        <h3 style=" color: white;font-family: monospace;">{{diller[23].kelime}}</h3>
      </button>
    </div>

    <!--Hikaye Detayı-->

<br>
    <center>
      <div class="col col-90" >
       <div class="col item item-body" style="border-radius: 12px;height: 560px;"> 
         <br>
         <br>
         <div  class="ion-compose edit_icon edit-detail_icon" ng-if="isAdmin==1" ng-click="editgosterici('editStory',1)"></div>



         <div class="col item  ekip_detay" style=" border-radius: 509%;
         border: solid 2px red;
         max-width: 43%;
         padding: 6%;"> <img class="mstory_image" ng-src="{{editInput.img = hikayeler[itemId].STR_IMAGE}}"></div>

         <h2 align="center" style="font-size: 21px;">{{editInput.head = hikayeler[itemId].STR_HEAD}} </h2>
         <br>
         <p style="font-size: 15px;" align="center">{{editInput.desc = hikayeler[itemId].STR_DESCRIPTION}}</p>
       </div></div>


     </center>












    <!--div class="ortala">
      <button class="button button-assertive ekle_b ">
        + Ekle
      </button></div>
      <br>
      <br>
      <br> 
      <br>
      <div class="item item-body hkd" > ,
       <br><br>
       <div  class="ion-compose edit_i detail_edit"></div>
       <i class="list card ">
        <div style="border-color: red;border-width: 2px;" class="item item-avatar profile ">

         
        </i>
      </div>




 <img class="pi " ng-src="{{hikayeler[itemId].STR_IMAGE}}">





      <h2 align="center" style="font-size: 21px;">{{hikayeler[itemId].STR_HEAD}} </h2>
      <br>
      <p style="font-size: 15px;" align="center">{{hikayeler[itemId].STR_DESCRIPTION}}


      </div>
    -->
    

  </ion-content>
</ion-modal-view>