
<ion-view view-title='<img class="title-image" src="img/logo.PNG"/ >' >

  <ion-content class="padding" >
    <!-- Anasayfa Tab -->

    <h3 class="font_text">{{diller[0].kelime}}</h3>
    <ion-scroll scrollbar-x="false" style="overflow-x: hidden;" direction="x">
      <div class="row">
        <div class="col" ng-repeat="story in hikayeler" ng-click="modalgosterici('story', {{$index}})">
          <img style="border-color: red;border-width: 1.9px;margin-right: -9px;" class="storycircle"
            ng-src="{{story.STR_IMAGE}}">
        </div>
      </div>
    </ion-scroll>



    <h3 class="font_text">{{diller[1].kelime}}</h3>
 
      <ion-scroll scrollbar-x="false" style="overflow-x: hidden;" direction="x">
      <div class="row">
        <div class="col.col-25" ng-repeat="servis in hizmetler" ng-click="tiklaab(0); modalgosterici('service',{{$index}})">
          <a class="item item-thumbnail- reference-main" style="border-radius: 10px !important;
      margin-right: 14px; ">
            <img class="main-image_align" ng-src="{{servis.SERVICE_IMAGE}}">
            <p align="center">{{servis.SERVICE_NAME}}</p>
          </a>
        </div>
      </div>
    </ion-scroll>


    <h3 class="font_text">{{diller[2].kelime}}</h3>

    <ion-scroll scrollbar-x="false" style="overflow-x: hidden;" direction="x">
      <div class="row">
        <div class="col.col-25" ng-repeat="referans in referanslar">
          <a class="item item-thumbnail- reference-main" style="border-radius: 10px !important;
      margin-right: 14px; ">
            <img class="main-image_align" ng-src="{{referans.REF_PHOTO}}">
          </a>
        </div>
      </div>
    </ion-scroll>
    
    <h3 class="font_text">{{diller[3].kelime}}</h3>

    <ion-scroll scrollbar-x="false" style="overflow-x: hidden; " direction="x">
      <div class="row">
        <div ng-repeat="takim in ekip" ng-click="tiklaab(2); modalgosterici('team',{{$index}})" class="card teams_style col-75"
          style="margin-right: 22px;">
          <div class="item item-avatarim">
            <img class="im" ng-src="{{takim.IMAGE}}">
            <font style="width: 70%;height: 300px;float: right;">
              <h2>{{takim.NAME}}</h2>
              <p  >{{takim.POSITION}}</p>
              <p>{{text_truncate(takim.ABOUT,50)}}</p></font>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>