.title-image {
  margin-top: 4px;
  height: 38px;
  text-align: center;
}

.title-image1 {
  margin-top: 4px;
  height: 38px;
}

.item .badge + .badge {
  margin-right: 76px;
  width: 67%;
  line-height: 18px;
}

.background_color{
  background-color: #000000;
}

.header-style{
  font-size:25px;
  text-align:center;
  margin-top:15px;
}
/* Empty. Add your own CSS if you like */
.pre-application_button{
  width: 75%;
  height: 46.5px;
  border-radius: 23.25px;
}

.service-detail-image{
  width: 33%;
  margin-left: 95px;
  margin-top: -14px;
}

.services-main{
  width: 29%;
  height: 97.5px;
  border-radius: 4px !important;
  border: solid 0.5px #e5e5e5;
  margin-left: -1px;
}

.service_location{
  margin-top: 17%;
  height: 271px;
  max-width: 69%;
  overflow: hidden;
  border-radius: 4%;
  border-color: #69696987;
}
.service_header{
  font-size: 17px;
  color: #424242; 
  font-family: -webkit-body; 
  width: 121%;
}
.service_icon{
  font-size: 168%;
  margin-right: 88%;
  margin-top: 0%;
}
.add_button{
  min-width: 50%;
  max-width: 250px;
  height: 60px;
  border-radius: 8px;
  background: #e41a28;
  margin-top: 7%;
}

.our-team-style{
 border-radius: 11px;
 height: 165px;
 padding-top: 4%;
 width: 100%;
 box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.reference-style{
  max-width: 77%;
  margin-top: -16%;
  
}

.reference-main{
  width: 102.46px;
  height: 97.5px;
  border-radius: 4px !important;
  border: solid 0.5px #e5e5e5;
  margin-left: -1px;
  margin-top: 2%;
}

.reference-location{
  margin-top: 43%;
  height: 25%;
  max-width: 84%;
  overflow: hidden;
  margin-left: 7%;
  border-radius: 6%;
  border-color: #69696987;
}

.reference-icon{
  font-size: 168%;
  margin-left: 81%;
  margin-top: -9%;
  
}

.iconn{
  margin-top: -138%;
}

.right_funct{
 margin-right: -13%;

}

.existing-users{
  text-align: center;
  margin-left: 89px;
  font-family: initial;
  font-size: 121%;
}

.blocked-user{
  background: #ef473a91;
}

.sagda_simge{
  position: absolute; 
  right: 20px; 
  margin-top: -7%;
  max-width: 32px;
}

.center{
  text-align: center;
}

.edit_icon{
  font-size: 33px;
  margin-top: -48px;"
}

.edit-detail_icon{
  margin-left: -802%;
  text-align: right;
}

.sms_text{
  font-size: 184%;
  text-align: center;
}

.our-team-story_img{
  width: 200%;
  margin-top: -43%;
  margin-left: -52%;
}

.storycircle{
  width: 63.46px;
  height: 62.5px;
  border-radius: 89px !important;
  border: solid 0.9px #979797;
  margin-left: 8px;
}

.sms{
 width: 20%;
 min-height: 61px;
 border: solid 1px #f0f0f0
 margin-top: 12%;
 border: solid 0px #e2e2e2;
 box-shadow: 0px 5px 14px 8px #e5e5e5;
}

.sms_button{
  width: 238px;
  height: 44px;
  border-radius: 2px;
  background-color: black;
  color: white;
}

.dictionary-style{
  color:black;
  text-align:left;
  margin-left:20px;
}

.teams_style {
  width: 238px;
  height: 118px;
  border-radius: 12px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.mstory_image{
 max-width: 100%;
 margin-left: -5%;
 height: 86px;
 margin-top: 4%;
}

.main-image_align{
  height: 25%;
  margin-top: -9px;
  max-inline-size: -webkit-fill-available;
  min-block-size: -webkit-fill-available;
}

.courses-story_text {
  margin-left: 9px;
  width: 93%;
  font-family: Microsoft Sans serif;
  font-size: large;
}

.courses-story_img{
  width: 101%;
}

.font_text{
  font-family: Bahnschrift Light;
  font-size: 22px;
  margin-left: 12px;
}

.tabs{
    background-color: black;
    height: 8%;
}

.scroll_structure{
  margin-top: -28px;
  height: 115px;
  padding: 20px;
  overflow-y: scroll;

}
.images_icon{
  font-size: 215%;
  margin-left: 40%;
}
.images_card{
  margin-top:-62px;
  margin-left: -84%;
  font-size: 120%;
  color: white;
}
.card_width{
  width: 89%;
  margin-top: 4%;
  border-radius:10px !important;
}
.add_card{
  height: 143px; 
}

.add_scard{
  height: 51px;
}
.add_text{
  margin-top: -22px;
  margin-left: -7%;
  width: 150%;
  height: 122%;
}
.add_img{
  width: 45%;
  margin-right: 32%;
  margin-top: -3%;
}
.add_imgc{
  width: 63%;
  margin-right: 21%;
  margin-top: 0%;
}
.add_imgs{
  width: 37%;
  margin-right: 37%;
  margin-top: -2%;
}
.map{
  display: block;
  width: 100%;
  height: 50%;
}
.dic_fav{
  width: 8%;
  margin-right: 41%;
  margin-top: 5%;
  
}
.linkdn_icon{
  font-size: 65px;
  color: steelblue;
  top: auto;
  margin-right: 40%;
  margin-left: 38%;
}
.topnav-a {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav-b {
  overflow: hidden;
  background-color: #fff;
}

.topnav-c {
  float: left;
  color: #111;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-d {
  border-bottom-style: solid;
  border-bottom-color: #6969693d;
}

.team-image{
  position: absolute;
  top: 19px;
  left: 10px;
  max-width: 57px;
  max-height: 56px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team-explanation{
  margin-left: 63px;
  width: 220px;
  font-size: 15px;
  margin-top: 10px;
}

.team-position {
 text-align: center;
 font-size: 15px;
 margin-left: 72px;
}

.team-name{
  text-align: center;
  font-size: 22px;
  margin-left: 70px;
}

.input-style{
  border-radius: 4px;
  margin-block-end: inherit;
  height: 55px;
  width: 87%;
  margin-left: 6%;
  box-shadow: 1px 3px rgb(246,248,249)
}

.button-register{
  color:black;
  margin-top:2px;
}

.button-bar{
  background-color:white !important;
  border-color:black !important;
  box-shadow: inset 15px 15px black !important;
}

.login-register_button{
  border-radius: 4px;
  width:250px;
  height:32px !important;
  background-color:white !important;
  border-color:black !important;
}

.login_button{
  border-radius: 4px;
  width:250px;
  border-color:black;
}

.language-TR{
  width: 45px;
  height: 25px;
  margin-left:20px;
}

.language-EN{
  width: 45px;
  height: 23px;
  margin-left: -2px;
}

.language-DE{
 width:45px;
 height: 24px;
 margin-left: 17px;
}






















